snippet link "Hyperlink"
[${1:${VISUAL:Text}}](${3:http://${2:www.url.com}})$0
endsnippet

snippet code "Codeblock" b
\`\`\`${1:lang}
${2:${VISUAL:code}}
\`\`\`
endsnippet

snippet fm "Frontmatter" b
---
${1:title}: ${2:value}
---
$0
endsnippet
